<div class="row">
  <div class="container">
    <div><h4>{{category()?.name}}</h4></div>

    <div class="d-inline-flex col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="d-flex flex-wrap">
        @for (item of items; track item) {
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
         <h4> {{ item.name }}</h4>
          <span style="{font-weight: bold}">
          @for (children of  item.children; track children){
            {{children.name}}
          }</span>
          </div>
        }</div>
    </div>
  </div>
</div>
