<div class="header-block--black d-flex justify-content-center">
  <div class="d-flex col-xl-10 col-lg-10 col-md-12 col-sm-12 justify-content-end">
    <span>
      <app-login></app-login>
    <app-button [icon]="newPostIcon" [cssClass]="postButtonCss">Новое объявление</app-button>
    </span>
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
    <div class="d-flex flex-wrap col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-between">
      <app-title class="d-inline-flex align-items-center" [title]="title"></app-title>
      <p-button outlined="true" label="Все категории" icon="pi pi-bars pe-2"></p-button>
      <app-search></app-search>
    </div>
  </div>
</div>
