<div class="header-block--black">
  <div class="d-flex col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-end">
    <span>
      <app-login></app-login>
    <app-button [icon]="newPostIcon" [cssClass]="postButtonCss">Новое объявление</app-button>
    </span>
  </div>
</div>
<div class="d-flex col-xl-10 col-lg-10 col-md-12 col-sm-6 m-3 mx-auto justify-content-between">
  <div class="header-block--whited d-flex w-100 justify-content-between">
    <app-title [title]="title"></app-title>
    <app-search></app-search>
  </div>
</div>
