.header {
  &-block{
    &--black {
      color: white;
      background-color: black;
    }
    &--white {
      color: black;
      justify-content: space-between;
      background-color: white;
    }
  }

}
