<div class="product mb-4">
  <a class="product-picture-link" href="#">
    <img class="product-picture-link--img" src="{{product.picture}}"
          alt="picture">
  </a>
  <div class="product-info">
    <h4 class="mb-0">
      <a href="#" class="product-info-name">{{product.name}}</a>
    </h4>
    <h5 class="product-info-price mb-0">{{product.price}} &#8381;</h5>
    <div>
      <small class="product-info-location mb-0">{{product.location}}</small>
    </div>
    <small class="product-info-date">{{product.date}}</small>
  </div>
</div>
