<form [formGroup]="changePasswordForm">
  <div class="d-inline-flex">
        <span>
           <label for="currentPassword">Текущий пароль</label>
        <input type="text" pInputText formControlName="currentPassword" id="currentPassword" name="currentPassword">
        </span>
  </div>
  <div>
        <span>
          <label for="newPassword">Новый пароль</label>
        <input type="text" pInputText formControlName="newPassword" id="newPassword" name="newPassword">
       </span>
  </div>
  <div>
            <app-button (click)="changePassword()">Изменить пароль</app-button>
  </div>
</form>
