<form [formGroup]="settingsForm">
  <div class="d-inline-flex">
        <span>
           <label for="name">Имя</label>
        <input type="text" pInputText formControlName="name" minlength="4" maxlength="64" id="name" name="name">
        </span>
  </div>
  <div>
    <label for="phone">Номер телефона</label>
    <p-inputMask mask="+9-(999)-999-99-99" id="phone" [style]="{ width: '300px' }"
                 formControlName="phone"
                 placeholder="Номер телефона"
                 autocomplete="off"
                 unmask="true"
    />
  </div>
  <div class="d-inline-flex">
        <span>
           <label for="currentPassword">Текущий пароль</label>
        <input type="text" minlength="8" maxlength="64" pInputText formControlName="currentPassword" id="currentPassword" name="currentPassword">
        </span>
  </div>
  <div>
        <span>
          <label for="newPassword">Новый пароль</label>
        <input type="text" minlength="8" maxlength="64" pInputText formControlName="newPassword" id="newPassword" name="newPassword">
       </span>
  </div>
  <div>
    <app-button (click)="saveSettings()">Сохранить</app-button>
  </div>
</form>
