.adv {
  &-new,
  &-single {
    height: 200px;
    width: 200px;
  }

  &-new {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%233B82F64D' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='1' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 4px;

    &-circle {
      height: 60px;
      width: 60px;
      border: 4px dashed rgba(59, 130, 246, 1);
      border-radius: 50%;
      color: rgba(59, 130, 246, 1);

      &i {
        font-weight: 700;
      }
    }
  }
}

