.adv {
  &-new,
  &-single {
    height: 200px;
    width: 200px;
  }

  &-new {
    border-radius: 4px;
    &:hover {
      background-color: #E1E9F0;
    }

    &-circle {
      height: 60px;
      width: 60px;
      border: 4px dashed rgba(59, 130, 246, 1);
      border-radius: 50%;
      color: rgba(59, 130, 246, 1);
      i {
        font-size: 1.2rem;
      }
    }
  }
}

