<ng-container>
  <span class="login mx-2" (mouseenter)="isMenuVisible = true" (mouseleave)="isMenuVisible = false">
  <span class="m-1 login-link">
    <i class="pi pi-user login-icon ms-1 me-2"></i>
    @if (user) {
      <span class="login-text">{{ user.name }}
      </span>
      <div class="login-menu" [ngStyle]="{display: isMenuVisible ? 'block' : 'none'}"
      >
        <ul>
          <li><a class="login-menu-item" (click)="isMenuVisible = false"
                 routerLink="profile/my-adverts">Мои объявления</a></li>
          <li><a class="login-menu-item" (click)="isMenuVisible = false"
                 routerLink="profile/settings">Настройки</a></li>
          <li class="login-menu-exit" (click)="logout()">Выйти</li>
        </ul>
      </div>
    } @else {
      <span class="login-text" (click)="showDialog()">Войти</span>
    }
  </span>
<p-dialog header="Вход"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '25rem' }"
          [breakpoints]="{ '300px': '75vw', '575px': '90vw' }"
          class="justify-content-center">
  <form [formGroup]="loginForm" action="">
    <div class="d-flex align-items-center mb-3">
        <p-inputMask mask="+9-(999)-999-99-99" id="phone" [style]="{ width: '300px' }"
                     formControlName="phone"
                     Z placeholder="Номер телефона"
                     autocomplete="off"
                     unmask="true"/>
    </div>
    <div class="d-flex align-items-center gap-3 mb-2">
        <input pInputText id="password" formControlName="password" class="login-password justify-content-end"
               [minlength]="8" [maxlength]="30"
               placeholder="Пароль"
               type="password"
               autocomplete="off"/>
    </div>
    <div class="d-flex  justify-content-end mb-4">
    <a (click)="showRegister()">Зарегистрироваться</a>
  </div>
    <div class="d-flex justify-content-center gap-2">
        <p-button label="Войти" (onClick)="login()"/>
    </div>
  </form>
</p-dialog>
  <app-register [visible]="isRegisterVisible"></app-register>
</span>
</ng-container>
