.login {
  width: 100%;
  height: auto;
  color: #fff;
  :hover {
    color: #3B82F6;
  }
}

::ng-deep {
  .p-dialog {
    display: flex;
    margin: -15px;
    &-header {
      font-size: 20px;
    }
  }
}
