.login {
  position: relative;
  width: 100%;
  height: auto;
  color: #fff;
  cursor: pointer;

  :hover {
    color: #3B82F6;

    &-text {
      :hover {
        svg > path {
          fill: #fff;
        }
      }
    }

    .login-menu {
      z-index: 99;
      cursor: default;
      &-item {
        color: #1E293B;
        cursor: pointer;
        &:hover {
          color: #3B82F6;

        }
      }
      &-exit {
        color: #EF4444;
        cursor: pointer;
        &:hover {
          color: #ac2f2f;
        }
      }
    }
  }

  &-menu {
    position: absolute;
    top: 22px;
    width: 147px;
    height: 108px;
    padding: 16px 8px;
    background: #fff;
    border-radius: 4px;
    color: #1E293B;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &-password {
    width: 300px;
  }
}

::ng-deep {
  .p-dialog {
    display: flex;
    margin: -15px;

    &-content {
      justify-content: center;
    }

    &-header {
      font-size: 20px;
    }

  }

  .p-inputtext {
    display: flex;
    //width: 300px;
  }

  .p-dialog .ui-dialog {
    overflow: scroll;
    max-height: 100%;
  }
}
