.adv {
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
  height: 200px;

  &-img {
    img {
      width: 143px;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &-text {
    font-size: 18px;
    font-weight: 600;
  }

  &-cost {
    color: #1E293B;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    &:after {
      content: '\20BD';
    }
  }
  &-link {
  }
  &-loc,
  &-time {
    font-size: 14px;
    color: #64748B;
  }
}

i {
  position: absolute;
  font-size: 1.3rem;
  right: 31%;
  top: 3%;
  z-index: 99;
  color: #EF4444;
}




