<div class="d-flex justify-content-center">
  <div class="col-xl-10 col-md-10 col-sm-6 justify-content-between">
    <div>
      <app-breadscrumbs>
        <h3>Рекомендации для вас</h3>
      </app-breadscrumbs>
    </div>
    <div class="justify-content-start">
    </div>
    <div class="d-flex flex-wrap col-12 justify-content-start">
      <div *ngFor="let product of products" class='col-xl-3 col-lg-3 col-md-4 col-sm-12'>
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </div>
</div>
