/* You can add global styles to this file, and also import other style files */
@import "../node_modules/reset-css/sass/_reset.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

a {
  cursor: pointer;
  text-decoration: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  box-shadow: none;
}

.p-treenode-label {

}
