::ng-deep {
  .p-button {
    border-radius: 4px;
  }
  .icon-left {
    flex-direction: row-reverse;
  }
}

.button {
  display: inline-flex;
  &-icon--wrapper {
    margin: 0 10px;
  }
  &-search {
    ::ng-deep {
      .p-button {
        border-radius: 0 4px 4px 0;
      }
    }
  }
  &-post {
    ::ng-deep {
      .p-button {
        border-radius: 4px;
        margin: 6px 0 6px 6px;
      }
    }
  }
}
